@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
body {
    font-family: poppins;
    background-color: #0D1310;
	font-size: 15px;
}

.backhome{
    padding-left: 1rem;
    font-size: 2rem;
}

a{
    text-decoration: none;
    color: white;
}

.container {
    width: 1000px;
    margin: 50px auto;
    background: #3EB489;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 10px;
}

h1 {
    text-align: center;
    color: white;
	font-size: 2rem;
	font-white: bold;
}

.form-group {
    margin-bottom: 15px;
}

.masukan{
    padding-bottom: 50px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

input[type="text"],
input[type="email"],
input[type="tel"],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 1px;
    box-sizing: border-box;
	background-color: hsl(#808080, 100%, 50%);
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
select:focus,
textarea:focus {
    border-color: #007BFF;
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: lightgray;
    color: black;
    border: none;
    border-radius: 1px;
    cursor: pointer;
    font-size: 15px;
}

button:hover {
    background-color: #0D1310;
    color: white;
}
